/* Navbar Container */
.navbar-container {
  position: sticky;
  width: 100%;
  background-color: #979896;
  border-bottom: 1px solid rgba(11, 0, 22, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  /* padding: 0.5em 1em 0.5em 1em; */
 
}

.navbar-links a{
  text-decoration: none;
  font-size: 18px;
}

.logo a{
  text-decoration: none;
  font-size: 25px;
}

/*  Main flex layout container for navbar sections */
.navbar-list {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
 
}

/* Generic wrapper for each section inside navbar */
.navbar-section {
  display: flex;
  align-items: center;
  flex:1;

  
}

.logo{
  font-size: 25px;
  font-weight: 500;
}

/*link styles under navbar-links */
.navbar-links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  white-space: nowrap;
  gap: 2rem;
}
.search-bar form{
  display: flex;
  gap:0; 
  width: 100%;
  align-items:center;
  justify-content:flex-start;
  border:1px solid #000;
  border-radius: 6px;
}
.search-bar input[type='search']
{
  width: clamp(20em, 100%, 30em);
  border:none;
  font-size: 16px;
  padding: 0.3em 0.5em;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
 
}

.search-bar input[type='search']:focus
{
  outline: none;
}

.search-bar input[type='submit']
{
  font-size: 16px;
  padding: 0.3em 0.5em;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: blue;
  color: white;
  border:none;
  cursor: pointer;
}


.navbar-links a:hover{
  background-color: yellow;
}


